In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('test1.csv',index_col=0)
df.head()
# df['TOTAL"C"']='???'
# df['TOTAL"N"']='???'
# print(df)

      Freq1 Property1  Freq2 Property2  Freq3 Property3 TOTAL"C" TOTAL"N"
Date
0        40         C     45         N     30         C      ???      ???
1        20         C     40         C     30         C      ???      ???
2        60         N     80         N     30         C      ???      ???
3        40         C     60         N     30         N      ???      ???

In [3]:
print(df.columns)
print("\n",(df.Property1=='C'))
df['TOTAL"C"']=df.Freq1 * (df.Property1=='C') + df.Freq2 * (df.Property2=='C') + df.Freq3 * (df.Property3=='C')
df['TOTAL"N"']=df.Freq1 * (df.Property1=='N') + df.Freq2 * (df.Property2=='N') + df.Freq3 * (df.Property3=='N')

Index(['Freq1', 'Property1', 'Freq2', 'Property2', 'Freq3', 'Property3',
       'TOTAL"C"', 'TOTAL"N"'],
      dtype='object')

 Date
0     True
1     True
2    False
3     True
Name: Property1, dtype: bool

In [4]:
df.head()

      Freq1 Property1  Freq2 Property2  Freq3 Property3  TOTAL"C"  TOTAL"N"
Date
0        40         C     45         N     30         C        70        45
1        20         C     40         C     30         C        90         0
2        60         N     80         N     30         C        30       140
3        40         C     60         N     30         N        40        90

In [5]:
######### build list of column groups
## print(df.columns)
props=[c for c in df.columns if "Property" in c]
freqs=[c for c in df.columns if "F" in c]
print("props:",props)
print("freqs",freqs)

props: ['Property1', 'Property2', 'Property3']
freqs ['Freq1', 'Freq2', 'Freq3']

In [6]:
val1=df[freqs].values
val2=(df[props]=="C").values
###print(df[props].values)
print("val1:",val1,type(val1))
print("val2:",val2,type(val2))
val3=val1*val2
print("val3:",val3,type(val3))
val4=val3.sum(axis=1)
print("val4:",val4,type(val4))

val1: [[40 45 30]
 [20 40 30]
 [60 80 30]
 [40 60 30]] <class 'numpy.ndarray'>
val2: [[ True False  True]
 [ True  True  True]
 [False False  True]
 [ True False False]] <class 'numpy.ndarray'>
val3: [[40  0 30]
 [20 40 30]
 [ 0  0 30]
 [40  0  0]] <class 'numpy.ndarray'>
val4: [70 90 30 40] <class 'numpy.ndarray'>

In [7]:
import numpy as np
#Multiplication:-
#1 2 3     9 8 7      9  16 21
#4 5 6  *  6 5 4  =>  24 25 24
#2 8 9     3 2 1      6  16 9

array1=np.array([[1,2,3],[4,5,6],[2,8,9]])  
array2=np.array([[9,8,7],[6,5,4],[3,2,1]])  
# print(np.multiply(array1,array2))
print(array1*array2)

[[ 9 16 21]
 [24 25 24]
 [ 6 16  9]]

In [8]:
props=[c for c in df.columns if "Property" in c]
freqs=[c for c in df.columns if "F" in c]
print("freqValue:\n",df[freqs].values)
print("property==c:\n",(df[props]=="C").values)
df["TOTAL\"C\""] = (df[freqs].values*(df[props]=="C").values).sum(axis=1)
df["TOTAL\"N\""] = (df[freqs].values*(df[props]=="N").values).sum(axis=1)
print(df)

freqValue:
 [[40 45 30]
 [20 40 30]
 [60 80 30]
 [40 60 30]]
property==c:
 [[ True False  True]
 [ True  True  True]
 [False False  True]
 [ True False False]]
      Freq1 Property1  Freq2 Property2  Freq3 Property3  TOTAL"C"  TOTAL"N"
Date
0        40         C     45         N     30         C        70        45
1        20         C     40         C     30         C        90         0
2        60         N     80         N     30         C        30       140
3        40         C     60         N     30         N        40        90

In [11]:
#some numpy:
a=np.array([[1,4],[3,5]])  
b=np.sum(a,axis=1)  
c=a.sum(axis=0)
print(b)
print(c)
# b  ===>array(5,8)
# i.e.
# 1 4  ->5
# 3 5  ->8
p=np.array([[1,4],[3,5]])  
q=np.sum(p)
print(q)
# b  ===>13

[5 8]
[4 9]
13