In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('test2.csv')
# print(data)
# data['totalamount']='???'
data['totalamount']=data['amount1']+data['amount2']+data['amount3']
print(data)

  Unnamed: 0          phone      mobile             datetime  duration  RID  \
0          a  9779882227889  9869222181  2022-01-19 09:50:29        23  337
1          b  9779882220464  9863222738  2022-01-19 09:50:12        41  337
2          c  9779612221098  9803222285  2022-01-19 09:50:10        44  339
3          d  9779882220984  9821222104  2022-01-19 09:48:55       119  339
4          e  9779882226136  9841222831  2022-01-19 09:50:18        37  337
5          f  9779882221087  9860222859  2022-01-19 09:46:28       268  337

         phone_c  amount1  amount2  amount3  totalamount
0  9779885222889       96      2.0      2.0        100.0
1  9779884222464       50      5.1      0.0         55.1
2  9779616222098      160      0.0      1.0        161.0
3  9779882220984      228      0.0      0.0        228.0
4  9779880222136      128      0.0      0.0        128.0
5  9779882221087      864      0.0      0.0        864.0

In [3]:
data=pd.read_csv('test2.csv')
data.index=['a','b','c','d','e','f']
# data.loc['a':'c','totalamount']=data.loc['a':'c','amount1']+data.loc['a':'c','amount2']+data.loc['a':'c','amount3']
data.loc[['a','c'],'totalamount']=data.loc[['a','c'],'amount1']+data.loc[['a','c'],'amount2']+data.loc[['a','c'],'amount3']
print(data)
print("type amount1:",type(data['amount1']))

  Unnamed: 0          phone      mobile             datetime  duration  RID  \
a          a  9779882227889  9869222181  2022-01-19 09:50:29        23  337
b          b  9779882220464  9863222738  2022-01-19 09:50:12        41  337
c          c  9779612221098  9803222285  2022-01-19 09:50:10        44  339
d          d  9779882220984  9821222104  2022-01-19 09:48:55       119  339
e          e  9779882226136  9841222831  2022-01-19 09:50:18        37  337
f          f  9779882221087  9860222859  2022-01-19 09:46:28       268  337

         phone_c  amount1  amount2  amount3  totalamount
a  9779885222889       96      2.0      2.0        100.0
b  9779884222464       50      5.1      0.0          NaN
c  9779616222098      160      0.0      1.0        161.0
d  9779882220984      228      0.0      0.0          NaN
e  9779880222136      128      0.0      0.0          NaN
f  9779882221087      864      0.0      0.0          NaN
type amount1: <class 'pandas.core.series.Series'>

In [4]:
 # Save total amount to original CSV file 
data.to_csv('test2.csv')

In [5]:
# Other idea to sum:
data=pd.read_csv('test2.csv',index_col=0)
print(type(data[['amount1','amount2','amount3']]))
data['totalamount']=data[['amount1','amount2','amount3']].sum(axis=1)
print(data.loc[:,'amount1':])

<class 'pandas.core.frame.DataFrame'>
   amount1  amount2  amount3  totalamount
a       96      2.0      2.0        100.0
b       50      5.1      0.0         55.1
c      160      0.0      1.0        161.0
d      228      0.0      0.0        228.0
e      128      0.0      0.0        128.0
f      864      0.0      0.0        864.0

In [6]:
data=pd.read_csv('test2.csv')
data.index=['a','b','c','d','e','f']
data['totalamount']=np.NaN
print(data)

  Unnamed: 0.1 Unnamed: 0          phone      mobile             datetime  \
a            a          a  9779882227889  9869222181  2022-01-19 09:50:29
b            b          b  9779882220464  9863222738  2022-01-19 09:50:12
c            c          c  9779612221098  9803222285  2022-01-19 09:50:10
d            d          d  9779882220984  9821222104  2022-01-19 09:48:55
e            e          e  9779882226136  9841222831  2022-01-19 09:50:18
f            f          f  9779882221087  9860222859  2022-01-19 09:46:28

   duration  RID        phone_c  amount1  amount2  amount3  totalamount
a        23  337  9779885222889       96      2.0      2.0          NaN
b        41  337  9779884222464       50      5.1      0.0          NaN
c        44  339  9779616222098      160      0.0      1.0          NaN
d       119  339  9779882220984      228      0.0      0.0          NaN
e        37  337  9779880222136      128      0.0      0.0          NaN
f       268  337  9779882221087      864      0.0      0.0          NaN

In [7]:
data['totalamount']=np.NaN
data=pd.read_csv('test2.csv')
data.loc[0:3,'totalamount']=data.loc[:,'amount1']+data.loc[:,'amount2']+data.loc[:,'amount3']
data.iloc[3:,10]=data.iloc[3:,6]+data.iloc[3:,7]+data.iloc[3:,8]
# data.iloc[:2,9]=data.iloc[:2,6]+data.iloc[:2,7]+data.iloc[:2,8]
data['totalamount']=data['amount1']+data['amount2']+data['amount2']
print(data)

  Unnamed: 0.1 Unnamed: 0          phone      mobile             datetime  \
0            a          a  9779882227889  9869222181  2022-01-19 09:50:29
1            b          b  9779882220464  9863222738  2022-01-19 09:50:12
2            c          c  9779612221098  9803222285  2022-01-19 09:50:10
3            d          d  9779882220984  9821222104  2022-01-19 09:48:55
4            e          e  9779882226136  9841222831  2022-01-19 09:50:18
5            f          f  9779882221087  9860222859  2022-01-19 09:46:28

   duration  RID        phone_c  amount1  amount2       amount3  totalamount
0        23  337  9779885222889       96      2.0  2.000000e+00        100.0
1        41  337  9779884222464       50      5.1  0.000000e+00         60.2
2        44  339  9779616222098      160      0.0  1.000000e+00        160.0
3       119  339  9779882220984      228      0.0  9.779882e+12        228.0
4        37  337  9779880222136      128      0.0  9.779880e+12        128.0
5       268  337  9779882221087      864      0.0  9.779882e+12        864.0